{% extends "base.html" %}
{% load staticfiles %}

{% block theme_css %}
<link href="{% static 'css/bootstrap3-dashboard.css' %}" link="stylesheet">
{% endblock %}

{% block content %}
{% block left_sidebar %}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 col-lg-2 sidebar">
          <div class="nav nav-sidebar">
            <div class="list-group">

              <div class="list-group-item">

                <h4 class="list-group-item-heading"><a href="{% url 'case_manager:index' %}">Case Manager</a>
                </h4>

                <p class="list-group-item-text">

                  <a href="{% url 'case_manager:client_index' %}">Client Index</a>
                  <br>
                  <a href="{% url 'case_manager:create-new-client' %}">Create New Client</a>
                  <br>
                  <a href="{% url 'case_manager:case_create' %}">Create New Case</a>
                </p>
            </div>

            <div class="list-group-item">
              <h4 class="list-group-item-heading"><a href="{% url 'task_manager:index' %}">Task Manager</a>
              </h4>

              <p class="list-group-item-text">
                <a href="{% url 'task_manager:add_task' %}" name="add_task_sidebar_link">Add Task</a>
                <br>
                <a href="{% url 'task_manager:add_project' %}" name="create_project_sidebar_link">Add Project</a>
                <br>
                <a href="{% url 'task_manager:settings' %}">Settings</a>
              </p>
            </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading"><a href="{% url 'file_manager:note_index' %}">
              Files and Notes
            </a></h4>
            <p class=""list-group-item-text">
              <a href="{% url 'file_manager:note_create' %}" name="sidebar_add_note">Create Note</a>
            </p>
          </div>
      </div>
    </div>
    </div>
      {% block top_row %} {% endblock %} {# use top_row to put things on the same row with the sidebar #}
    </div>
    </div>
{% endblock %}
{% endblock %}


