{% extends 'case_manager/employee-portal-base.html' %}
{% load crispy_forms_tags %}

{% block top_row %}
<div class="col-sm-6 col-md-7 col-lg-7 main">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Tag: {{ context.name }}</h3>  {# TO DO: Add link to edit context #}
        </div>

        <div class="panel-body">
            <ul>
                <li>Name: {{ context.name }}</li>
                <li>Description: {{ context.description }}</li>
                <li>Number of tasks: </li> {# TO DO: Get the len of all the related tasks #}
                <li>Number of projects:</li> {# TO DO: Get the len of all the related projects #}
            </ul>
        </div>
    </div>
</div>

<div class="col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3 class="panel-title">Current Contexts</h3>
        </div>

        <div class="panel-body">
            {% if user.tasks_contexts.all %}
            <ul>
                {% for each_tag in user.task_contexts.all %}
                <li>{{ each_tag }}</li> {# To do: add in the absolute url for the task #}
                {% endfor %}
            </ul>
            {% else %}
            <p>No context tags.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}