{% extends "case_manager/employee-portal-base.html" %}
{% load crispy_forms_tags %}

{% block top_row %}
<div class="col-sm-6 col-md-7 col-lg-7 main">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Update a task</h2>
        </div>

        <div class="panel-body">
        <form action="{% url 'task_manager:task_update' task.id %}" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <BR><BR>
            <input type="submit" value="Submit" />
        </form>
        </div>
    </div>
</div>

{% endblock %}


